

body{

    font-family: 'Montserrat', sans-serif;
    background: rgba(178, 178, 178, 0.196);;
}

h1,h2,body{
    margin: 0;
}

.background-img{

    background-image: url(./img/background.png);
    max-width: 1450px;

}


/*header*/

a{
    text-decoration: none;
    color: inherit
}

.header,.menu-li{

    display: flex;

}


.header{
    justify-content: space-between;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

}

.header img{

    margin-top:20px;

}


.menu-li{

    gap:26px;
    list-style: none;
    color: #1D1C24;


}

.menu-li a{
    font-size: 16px;
    margin-top: 24px;
}

.menu-li a::after{

    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background: linear-gradient(250deg, #8468F5 72.09%, #EC74E7 352.57%);    margin-top: 14px;
    transition: 0.3s;

}

.menu-li a:hover:after{

    width: 100%;
    position: relative;

}

.button-header:hover{

    background: #9277ff;
    

}

.button-header:hover:after{

    display: none;

}

.button-header{

    width: 120px;
    height: 30px;
    text-align: center;
    border-radius: 4px;
    padding-top: 4px;
    background: linear-gradient(250deg, #8468F5 72.09%, #EC74E7 352.57%);
    color: #ffffff;

}

/* main */

.contanier{

    display: grid;
    grid-template-columns: 1fr 1fr;

}

.contanier h1{

    font-size: 57px;
       

}

.contanier h1 span{

    color: #8468F5;

}

.contanier h2 {

    font-size: 20px;
    color: #52575C;

}

.photo-intro img{

    margin-left: 100px ;
    width: 100%;

}

/* button text */

.text-intro input{

width: 511px;
height: 58.261px;
border-radius: 30px;
border: none;
font-size: 18px;
padding-left: 30px;
}



.button-intro{

    margin-top: -50px;
    margin-left: 390px;
    position: absolute;
    background: linear-gradient(88deg, #EC74E7 -45.12%, #8468F5 74.37%);
    padding:  12px;
    color: #ffffff;
    border-radius: 24px;
    width: 110px;
    display: flex;
    justify-content: space-between;
    gap: 12px;

    }